{:description "Lint your clojure code, get warnings and errors as commit checks",
 :displayName "clj-kondo"
 :categories ["CODE_REVIEW"],
 :license "Apache-2.0",
 :homepageUrl "https://github.com/atomist-skills/clj-kondo-skill",
 :name "clj-kondo-skill",
 :namespace "atomist"
 :iconUrl "https://clojure.org/images/clojure-logo-120b.png",
 :author "Atomist",
 :technologies ["CLOJURE"],
 :resourceProviders [{:name "github",
                      :description "GitHub",
                      :typeName "GitHubAppResourceProvider",
                      :minRequired 1,
                      :maxAllowed 1}
                     {:name "slack",
                      :description "Slack",
                      :typeName "SlackResourceProvider",
                      :minRequired 0,
                      :maxAllowed 1}]
 :parameters
 [{:string
   {:name "config",
    :display_name "Custom configuration",
    :description "Provide a valid [configuration](https://github.com/borkdude/clj-kondo/blob/master/doc/config.md)",
    :lineStyle "multiple"
    :required false}}
  {:string
   {:name "config-gist-url",
    :display_name "Custom configuration URL",
    :description "Provide a URL to a publicly accessible configuration",
    :placeHolder "https://raw.githubusercontent.com/atomist-skills/clj-kondo-skill/master/docs/sample-config.edn"
    :required false}}
  {:repoFilter
   {:description "The set of Repositories.",
    :displayName "Repository Scope",
    :name "scope",
    :required true}}],
 :artifacts
 {:docker
  [{:name "clj-kondo-skill",
    :image
    "gcr.io/atomist-container-skills/clj-kondo-skill:0.1.0"}]}}
