{:description "Lint your clojure code, get warnings and errors as commit checks",
 :displayName "clj-kondo"
 :categories ["CODE_REVIEW"],
 :license "Apache-2.0",
 :homepageUrl "https://github.com/atomist-skills/clj-kondo-skill",
 :name "clj-kondo-skill",
 :namespace "atomist"
 :iconUrl "https://clojure.org/images/clojure-logo-120b.png",
 :author "Atomist",
 :technologies ["CLOJURE"],
 :resourceProviders [{:name "github",
                      :description "GitHub",
                      :typeName "GitHubAppResourceProvider",
                      :minRequired 1,
                      :maxAllowed 1}
                     {:name "slack",
                      :description "Slack",
                      :typeName "SlackResourceProvider",
                      :minRequired 0,
                      :maxAllowed 1}]
 :parameters
 [{:string
   {:name "check-name",
    :display_name "GitHub CheckRun name",
    :description "Provide a name for the GitHub CheckRun results",
    :placeHolder "clj-kondo"
    :required false}}
  {:string
   {:name "config",
    :display_name "clj-config config",
    :description "clj-config config",
    :lineStyle "multiple"
    :required false}}
  {:string
   {:name "config-gist-url",
    :display_name "config content url",
    :description "clj-kondo config public url (e.g [sample config gist](https://gist.github.com/slimslenderslacks/574326df04e63527f54b4d0bb9b962d9))",
    :placeHolder "https://gist.githubusercontent.com/slimslenderslacks/574326df04e63527f54b4d0bb9b962d9/raw/8e0e3e6a691c434a63b661ae3869dd181c4fbb89/config.edn"
    :required false}}
  {:repoFilter
   {:description "The set of Repositories.",
    :displayName "Repository Scope",
    :name "scope",
    :required true}}],
 :artifacts
 {:docker
  [{:name "clj-kondo-skill",
    :image
    "gcr.io/atomist-container-skills/clj-kondo-skill:0.1.0"}]}}
